*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

a {
  text-decoration: none;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;

  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: $black;

  background-color: $white;

  @include media("tablet") {
    font-size: 16px;
    line-height: 24px;
  }
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.main-container {
  flex-grow: 1;
}

.container {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;

  @include media("tablet") {
    width: 768px;
    padding: 0 30px;
  }

  @include media("desktop") {
    width: 1440px;
    padding: 0 40px;
  }
}
