.advantages {
  padding: 50px 0 60px;
  text-align: center;

  @include media("tablet") {
    padding: 60px 0 100px;
  }

  @include media("desktop") {
    padding: 100px 0 120px;
  }
}

.advantages__title {
  margin-bottom: 4px;
}

.advantages__subtitle {
  margin-bottom: 36px;

  @include media("tablet") {
    margin-bottom: 60px;
  }

  @include media("desktop") {
    margin-bottom: 80px;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @include media("tablet") {
    display: flex;
    flex-wrap: wrap;
    gap: 50px 30px;
    text-align: left;
  }

  @include media("desktop") {
    text-align: center;
  }
}

.advantages__item {
  margin-bottom: 32px;
  padding-top: 66px;
  background-size: 52px 56px;
  background-repeat: no-repeat;
  background-position: center 0;

  &:last-child {
    margin-bottom: 0;
  }

  &--speed {
    background-image: url("../../icons/stack.svg#speed");
  }

  &--fit {
    background-image: url("../../icons/stack.svg#fit");
  }

  &--energy {
    background-image: url("../../icons/stack.svg#energy");
  }

  &--eco {
    background-image: url("../../icons/stack.svg#ecology");
  }

  @include media("tablet") {
    width: 339px;
    margin-bottom: 0;
    padding-left: 72px;
    padding-top: 0;

    background-position: 0 0;
  }

  @include media("desktop") {
    width: 318px;
    padding-left: 0;
    padding-top: 76px;

    background-position: center 0;

    &:nth-child(even) {
      width: 317px;
    }
  }
}

.advantages__name {
  margin: 0;
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 32px;
  font-weight: 700;

  @include media("tablet") {
    margin-bottom: 10px;

    font-size: 24px;
    line-height: 36px;
  }
}
