.button {
  display: block;
  padding: 0;

  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: $white;
  overflow-wrap: break-word;

  background-color: $primary;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s;

  &--light {
    color: $primary;
    background-color: $white;
    transition:
      background-color 0.3s,
      color 0.3s;

    &:hover,
    &:focus,
    &:active {
      color: $white;
    }
  }

  &:hover,
  &:focus {
    background-color: $primary-light;
  }

  &:active {
    background-color: $primary-dark;
  }

  &:disabled {
    background-color: $grey;
  }
}
