.catalog {
  padding: 50px 0 44px;
  background-color: $grey-lightest;

  @include media("tablet") {
    padding: 80px 0 85px;
  }

  @include media("desktop") {
    padding: 100px 0 115px;
  }
}

.catalog .container {
  padding: 0 20px;

  @include media("desktop") {
    padding: 0 40px;
  }
}

.catalog__container {
  @include media("desktop") {
    display: flex;
  }
}

.catalog__filters {
  margin-bottom: 40px;

  @include media("mobile") {
    padding-left: 3px;
  }

  @include media("tablet") {
    margin-bottom: 44px;
  }

  @include media("desktop") {
    margin-right: 30px;
  }
}

.catalog__title {
  margin-bottom: 4px;
}

.catalog__subtitle {
  margin-bottom: 20px;

  @include media("desktop") {
    margin-bottom: 40px;
  }
}
