.catalog-cards {
  display: flex;
  flex-direction: column;
  align-items: end;

  @include media("desktop") {
    width: 1011px;
  }
}

.catalog-cards__sorting {
  margin-bottom: 20px;

  @include media("tablet") {
    margin-bottom: 30px;
  }
}

.catalog-cards__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  margin: 0;
  margin-bottom: 40px;
  padding: 0;

  list-style-type: none;

  @include media("tablet") {
    gap: 30px;
    margin-bottom: 70px;
  }

  @include media("desktop") {
    margin-bottom: 60px;
  }
}

.catalog-cards__item {
  padding: 40px 20px 20px;

  @include media("tablet") {
    padding: 50px 30px 30px;
  }
}
