.logo {
  display: block;

  &:active {
    background-color: $secondary;
  }
}

.logo__image {
  @include media("tablet") {
    width: 82px;
    height: 36px;
  }

  @include media("desktop") {
    width: 170px;
  }
}


