.socials__logo {
  @include media("tablet") {
    width: 170px;
  }
}

.socials .logo__image {
  @include media("tablet") {
    width: 170px;
  }
}

.socials__logo-descriptor {
  display: none;
  font-size: 14px;
  line-height: 20px;

  @include media("desktop") {
    display: block;
    margin-top: 4px;
    margin-bottom: 50px;
  }
}

.socials__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 160px;
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style-type: none;

  @include media("tablet") {
    width: 520px;
    justify-content: end;
  }

  @include media("desktop") {
    width: 318px;
    justify-content: start;
  }
}

.socials__link {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 4px;
  transition: background-color 0.3s;

  &::before {
    content: "";
    position: absolute;
    inset: 0;

    display: block;
    margin: auto;
    width: 20px;
    height: 20px;

    background-color: $grey;
    transition: background-color 0.3s;
  }

  &--vk::before {
    mask-image: url("../../icons/stack.svg#vk");
  }

  &--pinterest::before {
    mask-image: url("../../icons/stack.svg#pinterest");
  }

  &--ok::before {
    mask-image: url("../../icons/stack.svg#ok");
  }

  &:hover,
  &:focus {
    background-color: $secondary;
  }

  &:hover::before,
  &:focus::before {
    background-color: $primary;
  }

  &:active {
    background-color: rgba($primary, 0.25);
  }
}
